<script type="text/javascript">
  console.log("Hello!");
  $(function(){
    setTimeout(function(){
      $(".referral-modal").modal();
    }, 1000)
  });
</script>

<div class="modal fade referral-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add a New Message</h4>
      </div>

        <div class="modal-body">
          <p class="lead">Write a message to pass through the websocket.</p>

          <div id="echo" data-uri="<%= request.host %>:<%= request.port %>/websocket">
              <ul id="messages"></ul>
              <input id="send"/>
              <button id="fire">Send</button>
          </div>



          <!-- <input id="send"/> -->
        </div>
        <div class="modal-footer">
          <!-- <button id="fire" class="btn btn-primary">Send</button> -->
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->