<div id="echo" data-uri="<%= request.host %>:<%= request.port %>/websocket">
    <ul id="messages"></ul>
    <input id="send"/>
    <button id="fire">Send</button>
</div>

<%= render 'gameboard/add_card' %>

<div id="new-card">
  <button id="add-card">Select a Card</button>

  <a href="#" class="btn btn-default btn-primary" data-toggle="modal" data-target=".referral-modal">Add a New Card</a>
</div>