<%= form_for(@Card) do |f| %>
  <% if @Card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@Card.errors.count, "error") %> prohibited this Card from being saved:</h2>
      <ul>
      <% @Card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
